@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #d8d2d294;
  background-image: url("./logos-images/bg_image.jpg");
  background-size: cover;
}
